<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"> -->
<script src="angular/lib/angular.js">
	
</script>

<title>Insert title here</title>
</head>
<body ng-app="myApp">

	<div class="Main" ng-controller="MainController">
		<!-- 
		<button ng-click="testFunction()">Click test</button>
		<br>
		<button ng-click="count = count + 1" ng-init="count=0">
			Increment</button>
		<span> count: {{count}} </span>
		<br>
		<button ng-click="getSession()">Get Session API Call</button>
		<br>
		-->
		<h3>Single Patient Provision</h3>
		<p>Username: <input type="text" ng-model="username" placeholder="Enter username"></p>
		<p>Password: <input type="text" ng-model="password" placeholder="Enter password"></p>
		<p>BaseURL: <input type="text" ng-model="baseUrl" placeholder="CDR API Url"></p>
		
		<!-- <input type="text" ng-model="foo" placeholder="Enter something" /> -->
     	<input type="button" ng-click="provisionSingle()" value="Provision (Skip Demographic)" /> <br>
		<input type="button" ng-click="provisionSingleWithMarandDemographic()" value="Provision With Marand Demographic" /> <br>
		<input type="button" ng-click="provisionSingleWithFhirDemographic()" value="Provision With FHIR Demographic" />
		
		<br>
		<h4>Response:</h4>
		
		<pre id="json"> {{ response }} </pre>
		
	</div>
	
	<!-- Modules -->
	<script src="angular/app.js"></script>

	<!-- Controllers -->
	<script src="angular/controller/MainController.js"></script>

</body>
</html>